__pycache__/
.pytest_cache/
.ipynb_checkpoints/
tutorial/graph.ttl
tutorial/interactive_segb_graph.html
.venv
.vscode
.env
k8s/
playground/
logs/
local_scripts/
*.log
*.bak
*.env
logs
db/
frontend/segb-ui/node_modules/
frontend/segb-ui/dist/
